:root {
  --main-grey: #efefef;
  --black: #000000;
  --white: #ffffff;
  --grey: #d2d2d2;
  --text-grey: #808089;
  --overlay: rgba(0, 0, 0, 0.3);
  --pink-primary: #f0739d;
  --pink-secondary: #f7a3b7;
  --pink-secondary-opacity-20: rgba(247, 163, 183, 0.2);
  --error: #e85e6c;
  --success: #3cb878;

  --top-bar-height: 3.5rem;
  --bottom-bar-height: 3.5rem;
  --product-page-main-image: 26rem;
  --product-page-slide-image: 5.625rem;
  --side-bar-width: 14.375rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-grey) !important;
  overflow: hidden;
}

/* scrollbar */
@media (max-width: 600px) {
  html *::-webkit-scrollbar {
    display: none;
  }
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  width: 2rem !important;
  height: 2rem !important;
  background-color: var(--white);
  border-radius: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.75rem !important;
  font-weight: 700;
  color: var(--pink-primary);
}
