:root {
  --main-grey: #efefef;
  --black: #000000;
  --white: #ffffff;
  --grey: #d2d2d2;
  --overlay: rgba(0, 0, 0, 0.3);
  --pink-primary: #f0739d;
  --pink-secondary: #f7a3b7;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-grey) !important;
  overflow: hidden;
}
