:root {
  /* theme */
  --theme-primary-pink: #f0739d;

  /* background */
  --bg-primary-pink: #f0739d;
  --bg-white: #ffffff;
  --bg-red: red;
  --bg-light-grey: #0000000a;

  /* text */
  --text-primary-pink: #f0739d;
  --text-grey: #808089;
  --text-white: #ffffff;
  --text-black: #27272a;

  /* outline */
  --outline-primary-pink: #f0739d;
  --outline-light-grey: #efefef;
  --outline-dark-grey: #808089;
  --outline-grey: #d2d2d2;

  /* swiper */
  --swiper-theme-color: #f0739d !important;

  --main-grey: #efefef;
  --black: #000000;
  --white: #ffffff;
  --grey: #d2d2d2;

  --overlay: rgba(0, 0, 0, 0.3);
  --pink-primary: #f0739d;
  --pink-secondary: #f7a3b7;
  --pink-secondary-opacity-20: rgba(247, 163, 183, 0.2);
  --error: #e85e6c;
  --success: #3cb878;

  --top-bar-height: 3.5rem;
  --bottom-bar-height: 3.5rem;
  --product-page-main-image: 26rem;
  --modal-main-image: 31rem;
  --product-page-slide-image: 5.625rem;
  --side-bar-width: 14.375rem;

  --navbar-z-index: 9998;
  --drawer-z-index: 9999;
  --modal-z-index: 9999;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-grey) !important;
  overflow: hidden;
}

/* scrollbar */
@media (max-width: 600px) {
  html *::-webkit-scrollbar {
    display: none;
  }
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* swiper */
.mySwiper {
  height: 100%;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 2rem !important;
  height: 2rem !important;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.75rem !important;
  font-weight: 700;
  color: var(--pink-primary);
}
